<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locky</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/bootstrap-grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body class="body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
      <a id="locky" class="navbar-brand" href="#"><!--<span class="h-25 w-25 glyphicon glyphicon-lock"></span>-->Locky</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Feaches</a></li>
      <li><a href="#">Control</a></li>
    </ul>
        </div>
    </nav>

    <div class="main container vert-offset-bottom-1">
        <h1>RFID-lock</h1>
    </div>
</body>
</html>