*{
    font-size: 16pt;
    font-family: "Courier New", Courier, monospace;
    color: #383d41;
}

/*
.body{
    background-color: whitesmoke;
}
*/
.vert-offset-top-1{
    margin-top: 1em;
}

.vert-offset-top-2{
    margin-top: 2em;
}

.vert-offset-top-3{
    margin-top: 3em;
}

.vert-offset-top-4{
    margin-top: 4em;
}

.vert-offset-top-5{
    margin-top: 5em;
}

.vert-offset-top-6{
    margin-top: 6em;
}

.vert-offset-top-7{
    margin-top: 7em;
}

.vert-offset-top-8{
    margin-top: 8em;
}

.vert-offset-bottom-1{
    margin-bottom: 1em;
}
li{
    display:inline-block;
}

#locky{
    text-align: left;
    font-size: 18pt;
}

.main{
    /*background-color: #cce5ff;*/
}

/*
ul li:hover{
    border-bottom-color: white;
    border-bottom-width: 3px;
}
*/

